h1{
    color: darkblue;
    font-size: 40px;
    text-align: center;background-color: brown;
    line-height: 90px;
    text-shadow: 0px 0px 8px black;
}
h1:hover{
    background-color: black;
    color: white;
}
p{
    font-weight: bolder;
    font-style: italic;

}
img{
    width: 270px;
    height: 200px;
    border-radius: 40px;
}
a{
    background-color: rgb(17, 0, 255);
    color: white;
    margin-left: 25px;
    padding: 10px;
    border-radius: 50px;
    text-decoration:none;
}
a:hover{
    background-color: black;
    color: white;
}
