form{
    background-color: bisque;
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 14px;

}
legend{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0 0 15px;
}

label{
    font-size: 19px;
    font-family: sans-serif;
}

    input[type= text],input[type= email]
    input[type= password], input[type= number]

select{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    margin-top: 10px;
}

button{
background-color: black;
color: white;
padding: 10px;
border-radius: 10px;
width: 100%;

}

body{
    background-image: url("../Assets/background\ image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}